/* Début body */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&dispay=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        font-family: 'Open Sans', sans-serif;
        height: 100vh;
    }   
    /* Début tribune */
        /* Début seat */
            .row0 .seat ,
            .row1 .seat{
                background-color: rgb(1, 92, 1);
                color: #fff;
            }
            .row2 .seat ,
            .row3 .seat{
                background-color: rgb(245, 245, 22);
            }
            .row4 .seat ,
            .row5 .seat{
                background-color: rgb(255, 29, 29);
                color: #fff;
            }
            .row0 .seat,
            .row0 .seatChecks{
                height: 23px;
                width: 28px;          
                box-shadow: 0px 5px 5px rgb(0,0, 1);           
            }
            .row1 .seat,
            .row1 .seatChecks{
                height: 21px;
                width: 26px;
            }
            .row2 .seat,
            .row2 .seatChecks{
                height: 19px;
                width: 24px;
            }
            .row3 .seat,
            .row3 .seatChecks{
                height: 17px;
                width: 22px;
            }
            .row4 .seat,
            .row4 .seatChecks{
                height: 17px;
                width: 20.5px;
            }
            .row5 .seat,
            .row5 .seatChecks{
                height: 16px;
                width: 19px;
                font-size: 9px;
            }
            .chaise-left .row4 .seat,
            .row4 .seatChecks,
            .chaise-right .row4 .seat,
            .row4 .seatChecks{
                height: 17px;
                width: 20px;
                font-size: 9px;
                margin-bottom: -2px;
            }
            .chaise-left .row5 .seat,
            .row5 .seatChecks,
            .chaise-right .row5 .seat,
            .row5 .seatChecks{
                height: 15px;
                width: 21px;
                font-size: 9px;
                margin-bottom: -2px;
            }
            .seat,
            .seatChecks {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10px;
                font-weight: bold;
            }
            .seat.checked{
                background-color: #fff !important;
                color: #000;
            }
           
            .seat:hover span , 
            .seatChecks:hover span{
                display: none;
            }
            
            /* checks */
                .seatChecks{
                    background-color:gray !important;
                    color: #fff !important;
                    cursor:not-allowed;
                }
                .seatChecks p{
                    padding:5px;
                }
                .seatChecks h3{
                    text-align: center;
                    font-weight: bold;
                }
                
                .chaiseAchete{
                    margin: 3px;
                }
                .seat:hover,
                .seatChecks:hover{
                    position:relative;
                }
            /*  */
        /* fin seat */
        /* Début card */
            .card {
                background-color:#fff;
                box-shadow: 0 5px 15px rgba(0, 0 , 0 , 0.1) ;
                transition : 3s;
                padding: 6px;
                border-radius: 5px;
                opacity: 0;
                display: none;
                white-space: nowrap;
                z-index: 100000;
                color: #000;
            }

            
            .seat:hover .card,
            .seatChecks:hover .card{
                opacity: 1;
                display: block;
            }
        /* Fin card */
        /* Début Chaise left */
            .chaise-left{
                position: absolute; 
                left: 0;
                display:flex;  
                justify-content: center;
                align-items:center;
            }
            .chaise-left .seat,
            .chaise-left .seatChecks {
                margin:11px 0px 7px 6px;
                transform: rotate(270deg);
                z-index: 1;
            }
            .chaise-left .card{
                transform: rotate(90deg) translate(85px, -3px) ;
            }
            /* .chaise-left,
            .chaise-right,*/
                .chaise-top,
                .chaise-bottom{
                    z-index: 1;
                    border-radius: 0 0 1590px 1590px; 

                }
                .chaise-left,
                .chaise-right{
                    z-index: 2;
                    border-radius: 0 1590px 1590px 90px;  
                }
                .chaise-top .card{
                    transform:translate(0, 33px) 
                }
                .chaise-top .card.cardName {
                    transform:translate(5px, 80px) ;
                    position:absolute;
                }   
            /*  */
        /* Fin Chaise left */
        /* Début Chaise right */
        
            .chaise-right{
                position: absolute; 
                right: 0;
                display:flex;  
                justify-content: center;
                align-items:center;
                transform: rotate(180deg);
            }
            .chaise-right .seat,
            .chaise-right .seatChecks {
                margin:11px 0px 7px 6px;
                transform: rotate(270deg);
                z-index: 1;
            }
            .chaise-right .card{
                transform: rotate(-90deg) translate(-85px, 3px) ;
            }

         
        /* Fin Chaise right */
        /* Début Chaise top */
            .chaise-top {
                position: absolute; 
                top: 0;
            }
            .chaise-top .seat, 
            .chaise-top .seatChecks,
            .chaise-bottom .seat, 
            .chaise-bottom .seatChecks{
                margin:3px;
            }
            .chaise-top .row,
            .chaise-bottom .row{
                display: flex;
                justify-content: center;
                align-items:center;
            }

        /* Fin Chaise top */



        /* Chaise bottom */
            .chaise-bottom {
                position: absolute; 
                bottom: 0;
                transform: rotate(180deg);
                width: 100%;
            }
            .chaise-bottom span{
                margin:3px;
                transform: rotate(180deg);
            }
            
            .chaise-bottom .card{
                transform:translate(0, 30px)  rotate(180deg);
            }
              
            .chaise-bottom .card.cardName{
                transform:translate(0, 70px)  rotate(180deg);
                position:absolute;
            }    
        /* Fin Chaise bottom */
    /* Fin tribune */
    /* Début container2 */
        .container2{
            background-color:#000;
            height:750px;
            width: 1315px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px ;
            position: absolute;
        }
        /* Début container2span */
            .container2spanLeft,
            .container2spanRight{
                position: absolute;
                display: flex;
                justify-content: center ;
                bottom: 0;
            }
            .container2spanLeft{
                left: 20%;
            }
            .container2spanRight{
                right: 20%;
            }
            .container2spanLeft span , .container2spanRight span{
                background-color: #fff;
                opacity: 0.8;
                width: 5px;
                height:70px;
                margin: 10px;
                border-radius: 1px;
            }
        /* Fin container2span */

        /* Début container2 place choisie */
            .place-choisie{
                position: absolute;
                z-index: 1;
                top: -25px;
                display: flex;
                color: white;
                font-size: 14px;
                align-items: center;
            }
            .place-choisie h5{
                margin: 0 15px;
                display: flex;
            }
            button{
                cursor: pointer;
                padding: 2px 5px;
                border: 1px solid #ddd;
                background: transparent;
                font-size: 14px;
                color: #fff;
                border-radius: 100px;
                transition: 1s ease;
                margin-top:-2px;
            }
            .place-choisie button:hover{
                background-color:#00b806;
                border-color: #00b806;
            }
            #placeRestante{
                position: absolute;
                top: -25px;
                right:2rem;
                color: #fff;
            }
            .success-message{
                position: absolute;
                color: rgb(1, 92, 1);
                z-index: 1;
                background-color: #fff;
                padding: 30px;
                border-radius: 5px;
                animation-name: open;
                animation-duration: 2s;
                display: none;
            }
            .success-message.success{
                display: block;
            }
            .success-message span {
                display: flex;justify-content: center;
            }
        /* Fin container2 place choisie */
        /* Début container */
            /* Début container corner */
                .corner-bottom-left,
                .corner-bottom-right,
                .corner-top-left,
                .corner-top-right  {
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    border: 2px solid #fff;
                    border-radius: 71px 0 0;
                    border-right: 0;
                    border-bottom: 0;
                }
                .corner-top-left{
                    transform: rotate(180deg);
                    
                }
                .corner-top-right{
                    right: 0;
                    transform: rotate(270deg);
                    top: -1px;
                }
                .corner-bottom-left{
                    transform: rotate(90deg);
                    bottom: -1px;
                }
                .corner-bottom-right{
                    right: 0;
                    transform: rotate(0deg);
                    bottom: -1px;
                }
            /* Fin container corner */
            /* Début container span */
                .entoureTerrain{
                    background-color: rgb(1, 92, 1);
                    width: 920px;
                    height: 405px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                }
                .container{
                    background-color: rgb(1, 92, 1);
                    width: 860px;
                    height: 350px;
                    position: relative;
                    border: 2px solid #fff;                    
                }
                .container .span{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    justify-content: space-between ;
                }
                .container span{
                    background-color: green;
                    opacity: 0.6;
                    width: 50px;
                }
                .container span.projecteur{
                    opacity: 0.9;
                }
            /* Fin container span */
            /* Début container h1 */
            .container h1{
                position: absolute;
                transform: translate(60% , 0%);
                top: 42%;
                color: #fff;
                opacity: 0.2;
                z-index: 100;
                font-size:40px
            }
            /* Fin container h1 */
            /* Début container surface */
                .surface-left, .surface-right{
                    border: 2px solid #fff;
                    width: 80px;
                    height: 150px;
                    position: absolute;
                    top: 28%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .surface-left{
                    border-left: 0;
                }
                .surface-right{
                    right: 0;
                    border-right:0;
                }
                .camp-left, .camp-right{
                    border: 2px solid #fff;
                    width: 30px;
                    height: 70px;
                    position: absolute;
                }
                .camp-left{
                    left: -2px;
                    border-left: 0;
                }
                .camp-right{
                    right: -2px;
                    border-right: 0;
                }
                .point-penalty-right , .point-penalty-left{
                    border: 2px solid #fff;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: #fff;
                }
                .entre-surface-right, .entre-surface-left{
                    width: 25px;
                    height: 50px;
                    position: absolute;
                    border: 2px solid #fff;
                    border-radius: 0 90px 90px 0;
                }
                .entre-surface-right{
                    right: 100%;
                    border-left: 0;
                    transform: rotate(180deg);
                }
                .entre-surface-left{
                    left: 100%;
                    border-left:0;
                }
            /* Fin container surface */
            /* Début container rond central */
                .rond-central-bar{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #fff;
                    height: 347px;
                    position: absolute;
                    left: 50%;
                    /* top: 0 */
                }
                .rond-central-rond{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height:70px;
                    width: 70px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    position: absolute;
                }
                .rond-central-point{
                    height:10px;
                    width: 10px;
                    position: absolute;
                    background-color: #fff;
                    border-left: 2px solid #fff;
                    border-radius: 50%;
                }
            /* fin container rond central */
            /* Début container footer */
                .img-ball{
                    position: absolute;
                    bottom: -28px;
                    left: 47.8%;
                }
                .ballon{
                    color: #fff;
                    box-shadow: white 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
                }
                .ballon.active{
                    transform: translate(0 , -7px)   scale(1.1);
                    transition: 0.5s ease;
                }

                .activate{
                    animation:walk 1s steps(1) infinite, forward 25s linear infinite;

                }
            /* Fin container footer */
        /* Fin container */
        /* client form */
         .info-client{
            position: absolute;
            z-index: 10000;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0 , 0 , 0.6);
            justify-content: center;
            align-items: center;
            display: none;
            animation-name: open;
            animation-duration: 1s
        }
        .info-client.open{
            display: flex;
            transition: 1s ease;
        }
        form{
            padding: 30px 40px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
            width: 400px;
        }
        .form-control{
            padding: 10px 0
        }
        .form-control label {
            color: #777;
            display: block;
            margin-bottom: 5px;
            font-size: 14x;
        }
        .form-control input {
            border: 2px solid #f0f0f0;
            border-radius: 4px;
            display: block;
            width: 100%;
            padding: 10px;
            font-size: 14px;
        }
        .form-control input:focus {
            outline: 0;
            border-color: #777;
        }
        form #submit {
            cursor: pointer;
            background-color: green;
            border: 2px solid green;
            border-radius: 4px;
            color: #fff;
            display: block;
            font-size: 16px;
            padding: 10px;
            margin-top: 20px;
            width: 100%;
        }
        .removeModal{
            display: flex;
            justify-content: center; 
            align-items: center;
            background-color:red;
            border: 2px solid red;  
            width: 24px;
            border-radius: 3px;
            color: #fff;
            margin-left:auto;
            cursor: pointer;
            
        }
        .form-control.success input {
            border-color: green;
        }
          
        .form-control.error input {
            border-color: red;
        }
        .form-control small {
            color: red;
            font-size: 12px;
            display: none;
        }
        .form-control.error small {
            display: block;
        }
    /* fin client form */
        /* Début keyframs */
            @keyframes forward{
                0%{transform: translateX(200px);}
                25%{transform: translateX(-50px)}
                50%{transform: translateX(-10px)}
                100%{transform: translateX(4px);}
            }
            @keyframes open{
                0%{opacity:0;}
                100%{opacity: 1;}
            }
        /* Fin keyframs */
    /* Fin container 2 */
/* Fin body */